.question-card{
  min-height: 400px;
  position: relative;
  transition: all 0.3s;
  top: 0;

  &-opened{
    background: #fff;
    height: 100%;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    transition: all 1s;
  }

  p{
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }

  &:hover{
    // transform: scale(1.05);
    top: -20px;
  }
}

.question-card-overlay{
  position: absolute;
  width: 92%;
  height: 100%;
  background: url('./../../assets/images/card-wrapper.jpg') no-repeat;
  background-size: cover;
  border-radius: 6px;
  cursor: pointer;
  h1{
    background: #402525;
    padding: 4px;
    text-align: center;
    border-radius: 50%;
    font-size: 3rem;
    color: #fff;
    width: 65px;
    height: 65px;
  }
}

::ng-deep{
  .tab-content{
    width: 100%;
  }
}

.audio-card{
  audio{
    width: 100%;
  }
}
